{{ define "main" }}
<h1 class="page-title">{{ .Title }}</h1>

{{- with .Content }}
<div class="post-content">{{ . }}</div>
{{- end }}

{{- with .Sections }}
<ul class="post-list">
  {{- range . }}
  <li class="post-list-item">
    <div class="post-title">
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </div>
  </li>
  {{- end }}
</ul>
{{- end }}

{{- $paginator := .Paginate .RegularPages 25 -}}
{{- if $paginator.Pages }}
<ul class="post-list">
  {{- range $paginator.Pages }}
  <li class="post-list-item">
    <div class="post-meta">
      <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time>
      {{- with .Params.tags }}
      <ul class="tag-list">
        {{- range . }}
        <li class="tag-item"><a href="/tags/{{ urlize . }}/">{{ . }}</a></li>
        {{- end }}
      </ul>
      {{- end }}
    </div>
    <div class="post-title">
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </div>
  </li>
  {{- end }}
</ul>
{{- partial "pagination.html" $paginator }}
{{- end }}
{{ end }}
